h1,
h3 {
  margin-top: 0;
}
.App {
  /* text-align: center; */
  padding: 50px;
  max-width: 1020px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.header {
  border: 2px solid #ccc;
  padding: 15px;
  border-radius: 4px;
}

/* buttons */

.button-container {
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.button-container .button {
  background-color: #19679b;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
}

.button-container .button:hover {
  background-color: #175c8a;
}

.button-container .button.selected {
  background-color: #2a84c0;
}

/* results and search */

input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  max-width: 300px;
}

label {
  font-size: 14px;
  color: #838383;
}

.container {
  padding: 20px 10px 10px;
}

.container .input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.autocomplete {
  margin-bottom: 20px;
  max-width: 300px;
}
.autocomplete .input {
  margin-bottom: 0px;
}

.autocomplete-suggestions {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 300px;
  max-height: 500px;
  overflow: auto;
}

.suggestion {
  padding: 5px 10px;
}

.suggestion:hover {
  background: #eee;
}

.suggestion:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-results,
.error-results {
  padding: 25px 50px;
}

.no-results {
  background: #eee;
}

.error-results {
  color: #b30202;
  background: #ffd3d3;
}

/* table */
.result-table {
  overflow: auto;
}
.result-table table {
  width: 100%;
  border-collapse: collapse;
}

.result-table table th,
.result-table table td {
  border: 1px solid #ccc;
  padding: 8px;
}

.result-table table th {
  padding: 12px 8px;
  text-align: left;
  color: white;
  background-color: #2a84c0;
}

.pagination {
  margin-top: 10px;
}

.pagination button {
  background-color: #ddd;
  border: none;
  padding: 10px 24px;
}

.pagination button:hover {
  background-color: #eee;
}
.pagination button:disabled {
  background-color: #ccc;
}

.pagination select {
  padding: 10px;
  border: 1px solid #ccc;
}

@media (max-width: 400px) {
  .App {
    padding: 10px;
  }

  .button-container .button {
    width: calc(100% - 10px);
  }
}
